<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="login-user">
  <template>
   <style>
    :host { display: block; color: #185aa3; }
    .card { margin: 0 auto; float: none; margin-bottom: 10px; }
    .btn btn-success{ padding: 1em 1em 1em 1em; text-align: right;
    a:hover { color: white; }
   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

   <div class="card" style="width: 18rem;">
     <div>
     <img class="card-img-top" src="../../../images/logo.png" alt="Card image cap">
     <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar email" value="{{email::input}}" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}">
        <input type="checkbox" on-tap="verPassword">Mostrar Password
      </div>
      <div class="row">
        <div class="col-sm-4">
       <button class="btn btn-success" on-tap="_login">Ingresar</button>
       </div>
       <div class="col-sm-4">
       <button class="btn btn-success" on-tap="_registrar">Registrar</button>
       </div>
     </div>
     </div>
   </div>
   </div>

   <div>
     <paper-dialog id='popLocal' modal style="overflow-y: scroll;">
       <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
       </br>
       <div class="alert alert-info" role="alert" style="text-align:center;">OPERACION USUARIO</div>
          <div class="card" style="width: 18rem;">
            <img src="../../../images/user.png" class="img-fluid" alt="Responsive image" style="width:100%">
            <div class="card-body">
             <div class="form-group">
               <label for="exampleInputEmail1">First Name</label>
               <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp"  value="{{user.first_name::input}}" required>
             </div>
             <div class="form-group">
               <label for="exampleInputEmail1">Last Name</label>
               <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp" value="{{user.last_name::input}}" required>
             </div>
             <div class="form-group">
               <label for="exampleInputEmail1">Número de Celular</label>
               <input type="number" class="form-control" id="phone_number" aria-describedby="emailHelp" value="{{user.phone_number::input}}" required>
             </div>
             <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input type="email" class="form-control" id="last_name" aria-describedby="emailHelp"  value="{{user.email::input}}" required>
             </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" id="passwordForm" class="form-control" id="pass" aria-describedby="emailHelp"  value="{{user.password::input}}" required>
                <input type="checkbox" on-tap="verPassword">Mostrar Password
              </div>
             <template is="dom-if" if="{{isInsert}}">
               <button class="btn btn-success" on-tap="_InsertService">Aceptar</button>
             </template>
            </div>
          </div>
       </paper-dialog>
   </div>

   <iron-ajax
       id="doUserPost"
       url=[[api.api_host]][[api.api_users]]
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="userPostAJAXResponse"
       on-error="showError">

</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUser extends Polymer.Element {
      static get is() { return 'login-user'; }

      static get properties() {
       return {
         email: {
           type: String,
            notify: true
         },
         user: {
            type: Object,
            value:{}
          },
         password: {
           type: String,
           notify: true
         },
         oculto: {
           type: Boolean,
           value: false
         },
         isInsert:{
           type: Boolean,
           value:false
         }
       };
     }

     _login() {
       this.dispatchEvent(new CustomEvent('login-ok'));
     }

     verPassword(){
        let s = Polymer.dom(this.root).querySelector("#exampleInputPassword1");
        let x = Polymer.dom(this.root).querySelector("#passwordForm");
        if (s.type === "password") {
          s.type = "text";
        } else {
          s.type = "password";
        }
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
     }

     _registrar(){
        this.user = {};
        this.isInsert=true;
        this.$.popLocal.open();
      }

      showError(e){
        const req = e.detail.request;
        console.log('status code', req.status);
        console.log('status text', req.statusText);
      }
      _InsertService(){
        this.$.doUserPost.body = JSON.stringify(this.user);
        this.$.doUserPost.generateRequest();
      }

      userPostAJAXResponse(data) {
        console.log(this.user);
        this.$.popLocal.close();
      }


    }

    window.customElements.define(LoginUser.is, LoginUser);
  </script>
</dom-module>
